@font-face {
  font-family: klavika;
  src: url("/assets/font/klavika-light-webfont.woff"),
    url("/assets/font/klavika-regular-webfont.woff"),
    url("/assets/font/klavika-medium-webfont.woff"),
    url("/assets/font/klavika-bold-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
