@font-face {
  font-family: klavika;
  src: url("/assets/font/klavika-light-webfont.woff");
  src: url("/assets/font/klavika-regular-webfont.woff");
  src: url("/assets/font/klavika-medium-webfont.woff");
  src: url("/assets/font/klavika-bold-webfont.woff");
}
